  
  html, body {
    height: 100%;
 }
  
  html {
    --sqs-edit-mode-breakpoint: 749px;
  }
  
  main {
    display: contents;
  }
  
  
  
 .map-wrapper {
    position: relative;
   height: 100%;
  }

.map {
    position: absolute;
  top:0;
  left:0;
    height: 100%;
    width: 100%;
}

.search-container, .filter-buttons {
    display: flex;
    flex-direction: row;
}
  
  #header-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #E97B29;
  }

.filter-buttons {
    width:100%;
    background-color: #E97B29;
    display: flex;
    vertical-align: middle;
    justify-content: flex-end;
  	gap: 10px;
  	padding: 10px;
}
  
.header-divider {
  flex-grow: 1;
}

#plugin { 
  position: relative;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
   /*margin: 0px auto;*/
  height: 100%;
    width: 100%;
  display: flex;
   flex-direction: column;
}

.search-container {
  position: relative;
  padding: 10px;
  border-radius: 20px;
  border: solid #E97B29;
}
  
  .container  {
  padding: 0px !important;
  margin: 0px auto;
  display: contents;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  }
  
#search-bar {
    padding-left: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

.search-result-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
  }

  .category {
    margin-bottom: 0px;
	font-family: 'Space Mono', sans-serif;
  }

  .name {
    font-weight: bold;
  }
  
  .search-result-item .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0px;
  }

.leaflet-control-container {
    display: flex !important;
    flex-direction: row !important;
    height: 100% !important;
}
.leaflet-sidebar {
    padding: 0 !important;
    width: 30% !important;
    position: relative !important;
}

#sidebar {
    padding: 20px;
}

.close {
    text-decoration: none !important;
}

.leaflet-bottom {
    display: none;
}

 
.content-wrapper {
	  padding-bottom: 20px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  }
  
  #plugin .filter-buttons label {
  color: white;
}
    #block-yui_3_17_2_1_1737929825516_1898 {
  padding-bottom : 0px !important;
  padding-top : 0px !important;
  margin: 0 !important; 
  height: 100% !important; 
  }
  
  .sqs-block-content {
    height: 100%;
  }

  
  .marker-cluster-small, .marker-cluster-medium, .marker-cluster-large {
    background-color: transparent;
  }
  
  .leaflet-control-zoom {
    margin-top: 10px !important;
  }
  
  .fe-block{
   margin-bottom: 0px !important; 
  }
  
 .code-block {
	padding: 0 !important;
}
 
.dropdown {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    z-index: 9999;
}

.dropdown-content label {
    display: block;
    margin-top: 10px;
    margin-inline: 5px;
    font-size: small;
}
  
  /* ARIA content class */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
  
   ul {
  		list-style-type: none;
      	margin: 0;  
    	padding: 0;
	}
  
  li {
    	display: inline;
	}
    
  @media screen and (max-width:767px) {
    #search-bar {
  max-width: 150px;
  }
    .content-wrapper {
  padding-top: 20px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  }
div#gridThumbs {
    padding-left: 0.5vw !important;
    padding-right: 0.5vw !important;
}
    .filter-buttons {
        display: none;
    }

    .dropdown {
        display: inline-block;
        position: relative;
        z-index: 9999;
    }

    .dropdown-content {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        min-width: 100%;
      	z-index: 9999;
    }

    .dropdown button {
        display: block;
        width: 100%;
        padding: 8px;
      	font-size: small;
    }
    
    .leaflet-top {
      z-index: 1000;
    }
    
    .leaflet-sidebar {
    width: 60% !important;
}

}